<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app = "appTodo">
<head>
    <title>ToDo List (Task2)</title>
    <script src="../Libraries/angular.js"></script>
    <link href="../Libraries/bootstrap.css" rel="stylesheet" />
    <link href="../Libraries/bootstrap-theme.css" rel="stylesheet" />
    <script src="todo.js"></script>

    <script>
        // Добавьте AngularJS контроллер
        var appTodo = angular.module("appTodo", []);
        appTodo.controller("TodoCtrl", function($scope){
            $scope.tasks = todoModel.read();
            
            $scope.addItem = function(name, duedate, description, completed){
                todoModel.addItem(name, duedate, description, completed);
                todoModel.save();
            }
            
            $scope.text;
            $scope.showDescription = function(description) { 
                $scope.text = description;
            }
        });
    </script>
</head>
<body ng-controller="TodoCtrl">

    <div class="container">
      <div class="row">
        <h3>ToDo List</h3>
        <div class="col-sm-6">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Completed</th>
                </tr>
            </thead>
            <tr ng-repeat="task in tasks">
                    <td>{{task.name}}</td>
                    <td>{{task.duedate}}</td>
                    <td>{{task.completed}}</td>
                    <td><button class="btn btn-primary" ng-click = "showDescription(task.description)">
                        Details</button></td>
                </tr>
        </table>
        </div>
        
        <div class="col-sm-5" style="border: 1px solid black; margin-top: 4em;" ng-switch-on="task.description">
            <p ng-switch when = "task.description"> {{text}}</p>
        </div>

      </div>
        
        
        <div class = "row">
            <!-- Форма для добавления новых задач -->
            <form>
                <div class="form-group">
                    <label for="inputName">Name</label>
                    <input type="text" class="form-control" id="inputName" placeholder="Введите название" ng-model="name">
                </div>
                <div class="form-group">
                    <label for="inputDate">Date</label>
                    <input type="text" class="form-control" id="inputDate" placeholder="Дата"  ng-model="duedate">
                </div>
                <div class="form-group">
                    <label for="inputDescription">Description</label>
                    <textarea name="" id="inputDescription" rows="3" class="form-control"  ng-model="description">
                    </textarea>
                </div>
                <div>
                    <label for="inputComplited">Completed</label><br/>
                    <input type="checkbox" id = "inputComplited"  ng-model="completed">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" ng-click="addItem(name, duedate, description, completed)">Add</button>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>
